# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS metadata
Thumbs.db
ehthumbs.db
Desktop.ini
~$*

# IDEs
.vscode/
.idea/

# Project files
CRM_Detailed_Explanation.md
CRM_Requirements.md
Presentation1.pptx
database_design.md
*.zip
project_updated_extracted/
*_gallery.md
company_systems_structure.md
clean_architecture_guide.md
dotnet-sdk-9.0-installer.exe
project_log.md
modules_design_blueprint.md






# .NET Build Outputs
[Bb]in/
[Oo]bj/
