# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS metadata
Thumbs.db
ehthumbs.db
Desktop.ini
~$*

# IDEs
.vscode/
.idea/

# Project files
Presentation1.pptx
*.zip
project_updated_extracted/
dotnet-sdk-9.0-installer.exe


# .NET Build Outputs
[Bb]in/
[Oo]bj/
